/*  <!-- RESPONSIVE
============================================ --> */
/* <!-- minw start
	============================================ --> */
@media only screen and (min-width: 480px) {
  .text {
    display: block;
  }
}

/* <!-- min-width: 480px --> */
@media only screen and (min-width: 576px) {
  .text {
    display: block;
  }
}

/* <!-- min-width: 576px --> */
@media only screen and (min-width: 768px) {
  .header_resp_nav {
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -ms-flex !important;
    display: -o-flex !important;
    display: flex !important;
  }
}

/* <!-- min-width: 768px --> */
@media only screen and (min-width: 992px) {
  .text {
    display: block;
  }
}

/* <!-- min-width: 992px --> */
@media only screen and (min-width: 1200px) {
  .text {
    display: block;
  }
}

/* <!-- min-width: 1200px --> */
/* <!-- minw end 
	============================================ --> */
/* <!-- maxw start
	============================================ --> */
@media only screen and (max-width: 1199px) {
  .logo ~ li {
    padding: 0;
  }

  .container-offset-sm {
    padding-left: 15px;
    padding-right: 15px;
  }

  .video_icon_img {
    width: 70px;
    height: 70px;
  }

  .video_icon_img img {
    width: 40px;
    height: 40px;
  }

  .img_icon_cont p {
    margin-top: 10px;
  }

  .img_icon_cont h6,
  .img_icon_cont p {
    line-height: 1.2;
  }

  .carousel_2 .item {
    height: 360px;
  }

  .apartments_floor_poz {
    display: none;
  }

  .apartments_floor_info {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 30px;
    width: auto;
    top: auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
  }

  .apartments_floor_info .mb_lg {
    margin-bottom: 0;
    padding: 0 10px;
  }

  .apartments_main {
    height: 800px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .apartments_main .container {
    height: 100%;
  }

  .apartments_floor_btn_box {
    display: block;
  }
}

/* <!-- max-width: 1199px --> */
@media only screen and (max-width: 991px) {
  [class*="section"] {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  [class*="section"]:last-child {
    padding-bottom: 60px;
  }

  .menu_link {
    font-size: 12px;
  }

  .menu_item.logo {
    width: 80px;
  }

  .phone_box {
    font-size: 14px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 22px;
    line-height: 1.3;
  }

  .video_icon_img {
    width: 50px;
    height: 50px;
  }

  .video_icon_img img {
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
  }

  .video_icon_txt {
    font-size: 14px;
  }

  .box_black_fix {
    border-radius: 25px;
    width: 120px;
    height: 50px;
    font-size: 14px;
    line-height: 16px;
  }

  .step_item .step_cont h4 {
    font-size: 20px;
  }

  .step_item .step_cont p {
    font-size: 16px;
  }

  .icon_txt_box {
    margin-bottom: 10px;
  }

  .footer_container {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .carousel_2 .item {
    height: 300px;
  }

  .item_box .item_cont {
    font-size: 16px;
    line-height: 1.3;
  }

  .img_box_line:hover .img_box_line_btn_open {
    height: 55px;
    padding-top: 10px;
  }

  .img_box_line_cont h6 {
    line-height: 1.2;
  }

  .call_back_btn {
    bottom: 20px;
    right: 20px;
  }

  .gmap_box .gmap_box_card {
    padding: 20px;
  }

  .slider_modal {
    margin-bottom: 30px;
  }

  .apartments_floor_info {
    padding: 20px 20px;
  }

  .apartments_main {
    height: 750px;
  }

  .tooltip {
    display: none !important;
  }
}

/* <!-- max-width: 991px --> */
@media only screen and (max-width: 767px) {
  #section_main {
    display: block;
    background: url(../media/video/first_screen.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .button_nav {
    display: block;
  }

  #menu.header_resp_nav {
    display: none;
  }

  .menu {
    background: #ffffff;
    left: 0px;
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 50px;
  }

  .menu li {
    display: block;
    float: none;
    text-align: center;
    padding: 3px 0;
  }

  .menu li a span {
    font-size: 16px;
    padding: 3px 0;
  }

  .first_screen_active .menu {
    background: rgba(0, 0, 0, 0.8);
  }

  .logo_resp {
    display: block !important;
    position: fixed;
    top: 10px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  .menu_item.logo {
    display: none !important;
  }

  .link_line_box_wr {
    margin-bottom: 40px;
  }

  .step_item:after {
    top: auto;
    bottom: -55px;
    right: auto;
    left: 50%;
    margin-left: -12px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  .step_item {
    margin-bottom: 60px;
  }

  .carousel_2 .owl-nav .owl-prev {
    left: 55px;
  }

  .carousel_2 .owl-nav .owl-next {
    right: 55px;
  }

  .img_box_line_box .img_box_line {
    width: 100%;
    height: 35vw;
  }

  .gmap2 {
    margin-top: 30px;
  }

  .col-sm-col-5 {
    width: 33.33%;
    margin-top: 10px;
  }

  .main_bottom_box {
    bottom: 15px;
  }

  .footer_container {
    text-align: center;
  }

  .arcticmodal-close {
    position: absolute;
  }

  .arcticmodal-close svg {
    fill: #000000 !important;
  }

  .gmap_box .gmap_box_in {
    position: static;
    height: auto;
  }

  .gmap_box .gmap_box_in > *,
    .gmap_box .gmap_box_in > * > * {
    height: auto;
  }

  .gmap_box .gmap_box_card {
    padding: 0px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .slider_modal_wr {
    width: 100%;
  }

  .modal_lg .arcticmodal_container_box {
    padding: 40px 0px;
  }

  .apartments_floor_btn_box {
    position: static;
    padding-top: 40px;
  }

  .apartments_floor_btn_list {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .apartments_floor_btn_list li {
    display: inline-block;
  }

  .apartments_floor_btn_list .btn_sm {
    width: 105px;
  }

  .apartments_main {
    height: 550px;
  }

  .apartments_floor_info_title {
    font-size: 40px;
  }

  .apartments_floor_info_title_sm {
    font-size: 26px;
    top: 14px;
  }

  .apartments_floor_info_txt {
    line-height: 1.2;
  }

  h5:after {
    right: 0;
  }
}

/* <!-- max-width: 767px --> */
@media only screen and (max-width: 575px) {
  .phone_box {
    position: absolute;
    bottom: 10px;
    right: 50px;
    left: 50px;
    text-align: center;
  }

  #header .phone {
    text-align: center;
    display: inline-block;
    padding: 0 5px;
  }

  .call_back {
    display: block;
  }

  .logo_resp {
    width: 90px;
  }

  .sticky .phone_box {
    display: none;
  }

  .arcticmodal_container_box {
    padding: 40px 15px;
  }

  .title_modal {
    font-size: 28px;
  }

  .call_back_btn {
    right: 15px;
    bottom: 15px;
    height: 50px;
    width: 50px;
  }

  .call_back_btn img {
    width: 20px;
    height: 20px;
  }

  .apartments_main {
    height: auto;
  }

  .apartments_floor_info {
    display: block;
    position: static;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .apartments_floor_info .mb_lg {
    margin-bottom: 15px;
  }
}

/* <!-- max-width: 575px --> */
@media only screen and (max-width: 479px) {
  body {
    min-width: 320px;
    font-size: 20px;
  }

  h1 {
    font-size: 35px;
  }

  h3 {
    font-size: 30px;
  }

  h6 {
    font-size: 20px;
  }

  .title_lg {
    font-size: 32px;
  }

  .social_list a {
    width: 25px;
    height: 25px;
    font-size: 16px;
  }

  .social_list a .fa {
    line-height: 25px;
  }

  .social_list li {
    padding: 0 3px;
  }

  .col-sm-col-5 {
    width: 50%;
  }

  #section_main {
    padding-bottom: 240px;
  }

  .link_line_box {
    display: block;
  }

  .link_line,
  .box_black_fix {
    margin-bottom: 5px;
    width: 100%;
  }

  .link_line {
    overflow: hidden;
  }

  .link_line li {
    margin-left: 5px;
    margin-right: 5px;
  }

  .btn_lg {
    padding-left: 20px;
    padding-right: 20px;
  }

  .img_box_line_box .img_box_line {
    width: 100%;
    height: 55vw;
  }

  .bg_box_icon_1:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 240px;
    background-image: url(../images/section8_bg.png);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 100% 100%;
    opacity: 0.2;
  }

  .country-phone > input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
    width: 140px;
  }

  .list_characteristics li {
    width: 100%;
  }

  .country-phone-options {
    width: 245px;
  }
}

/* <!-- max-width: 479px --> */
@media only screen and (max-height: 349px) {
  .menu li a span {
    padding: 0px 0;
    padding-bottom: 5px;
  }

  .menu li {
    padding: 0;
  }
}

/* <!-- maxw end 
	============================================ --> */
