/*====>>  Stylesheet Guide START  <<====*/
/*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes
            3.1.      Float:;
            3.2.      Text-align:;
            3.3.      INDENTS Zero
            3.4.      Position :;
            3.5.      Clearfix
            3.6.      Dispay:;
            3.7.      LINKS
            3.8.      TITLES
            3.9.      FONTS
            3.10.     TEXTAFIELD
            3.11.     BREADCRUMBS
            3.12.     PRELOADER
            3.13.     ANCHOR TO TOP
        4. HEADER
        5. CONTENT
        6. FOOTER 
        
        <<=========================================>>*/
/*====>>  Stylesheet Guide END    <<====*/
/*  <!-- 1. IMPORT Plugins and other CSS files 
============================================ --> */
@import url(../css/font.css);
/*  <!-- 2. DEFAULT Stylesheets 
============================================ --> */
html, body {
  width: 100%;
  height: 100%;
}

.page_wrap {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Circe", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.45;
  color: #000;
  background: #fff;
  min-width: 320px;
  font-weight: 400;
}

/* when you select text is added to a custom style  */
::selection {
  color: #fff;
  background-color: #0066cc;
}

::-moz-selection {
  color: #fff;
  background-color: #0066cc;
}

/* !!! */
/* custom style to scroll (only in chrome) */
::-webkit-scrollbar {
  background: #e2e2e2;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #007ae4;
}

/* !!! */
.detect_scroll_width {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

/*  <!-- 3. BASIC classes
============================================ --> */
/*==========>>  3.1.      Float:;   <<==========*/
.f_left {
  float: left;
}

.f_right {
  float: right;
}

.f_none {
  float: none;
}

/*==========>>  3.2.      Text-align:;   <<==========*/
.al_left {
  text-align: left;
}

.al_right {
  text-align: right;
}

.al_center {
  text-align: center;
}

.al_justify {
  text-align: justify;
}

/*==========>>  3.3.      INDENTS Zero   <<==========*/
.m_t_zero {
  margin-top: 0 !important;
}

.m_b_zero {
  margin-bottom: 0 !important;
}

.m_r_zero {
  margin-right: 0 !important;
}

.m_l_zero {
  margin-left: 0 !important;
}

.p_t_zero {
  padding-top: 0 !important;
}

.p_b_zero {
  padding-bottom: 0 !important;
}

.p_r_zero {
  padding-right: 0 !important;
}

.p_l_zero {
  padding-left: 0 !important;
}

/*==========>>  3.4.      Position :;   <<==========*/
.p_abs {
  position: absolute;
}

.p_rel {
  position: relative;
}

.p_fix {
  position: fixed;
}

.p_static {
  position: static;
}

.transparent {
  opacity: 0;
}

.full_abs {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 99;
}

.z-i9 {
  z-index: 9;
}

/*==========>>  3.5.      Clearfix   <<==========*/
.clear {
  clear: both;
  width: 100%;
  line-height: 0;
  font-size: 0;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.wrapper {
  overflow: hidden;
}

/*==========>>  3.6.      Dispay:;   <<==========*/
.d_block {
  display: block;
}

.d_ib {
  display: inline-block;
}

.d_none {
  display: none;
}

.d_t {
  display: table;
}

.d_row {
  display: table-row;
}

.d_tc {
  display: table-cell;
}

.d_f {
  display: flex;
}

.d_if {
  display: inline-flex;
}

.jc-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.jc-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.jc-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.justify-content-between,
.jc-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.jc-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.jc-around {
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
}

.al-it-start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.al-it-end {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.align-items-center,
.al-it-center {
  -webkit-align-items: center;
  align-items: center;
}

.al-it-baseline {
  -webkit-align-items: baseline;
  align-items: baseline;
}

.al-it-stretch {
  -webkit-align-items: stretch;
  align-items: stretch;
}

.al-s-auto {
  -webkit-align-self: auto;
  align-self: auto;
}

.al-s-start {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.al-s-end {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.al-s-center {
  -webkit-align-self: center;
  align-self: center;
}

.al-s-baseline {
  -webkit-align-self: baseline;
  align-self: baseline;
}

.al-s-stretch {
  -webkit-align-self: stretch;
  align-self: stretch;
}

.al-c-start {
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.al-c-end {
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

.al-c-center {
  -webkit-align-content: center;
  align-content: center;
}

.al-c-between {
  -webkit-align-content: space-between;
  align-content: space-between;
}

.al-c-around {
  -webkit-align-content: space-around;
  align-content: space-around;
}

.al-c-stretch {
  -webkit-align-content: stretch;
  align-content: stretch;
}

/*==========>>  3.7.      LINKS   <<==========*/
* a,
* button {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

* a:hover,
  * button:hover {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

[data-popup] {
  cursor: pointer;
}

[class^="btn_"] {
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 30px;
  padding: 18px 20px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

[class^="btn_"] i.fa {
  margin-right: 15px;
  font-size: 18px;
}

.btn_size {
  padding: 15px;
  line-height: 20px;
}

.btn_white {
  background-color: #fff;
  color: #000;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
}

.btn_white:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.btn_white:hover {
  border-color: #69a6b1;
  background-color: #69a6b1;
}

.btn_white_bor {
  background-color: transparent;
  color: #fff;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
}

.btn_white_bor:hover {
  background-color: #fff;
  color: transparent;
  border-color: transparent;
}

.btn_white_bor:hover {
  color: #ffffff;
  border-color: #69a6b1;
  background-color: #69a6b1;
}

.btn_blue {
  background-color: #69a6b1;
  color: #000;
  border-width: 2px;
  border-style: solid;
  border-color: #69a6b1;
}

.btn_blue:hover {
  background-color: #000;
  color: #69a6b1;
  border-color: #69a6b1;
}

.btn_blue:hover {
  color: #ffffff;
  border-color: #5287ad;
  background-color: #5287ad;
}

.btn_black {
  background-color: #fff;
  color: #000;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
}

.btn_black:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.btn_black:hover {
  border-color: #69a6b1;
  background-color: #69a6b1;
}

.btn_black_fix {
  width: 150px;
  height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-shrink: 0;
  background-color: #fff;
  color: #000;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
}

.btn_black_fix:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.btn_black_fix:hover {
  border-color: #69a6b1;
  background-color: #69a6b1;
}

.btn_lg {
  padding-left: 40px;
  padding-right: 40px;
}

.btn_sm {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn_100pr {
  width: 100%;
}

/*==========>>  3.8.     TITLES   <<==========*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Circe", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
}

h1 {
  font-size: 58px;
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-size: 26px;
  line-height: 1.5;
  font-weight: 400;
}

h3 {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.35;
}

h5 {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h5:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  height: 7px;
  background: url(../images/title_line.png) 0 100% repeat-x;
  background-size: auto 7px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.line_animated:after {
  right: 0;
}

.h5_lg {
  font-size: 26px;
}

h6 {
  font-size: 24px;
  line-height: 1.45;
  font-weight: 400;
  margin-bottom: 40px;
}

.title_lg {
  font-size: 50px;
  line-height: 1.23;
  font-weight: 600;
  margin-bottom: 70px;
}

.blackout h1, .blackout h2, .blackout h3, .blackout h4, .blackout h5, .blackout h6 {
  color: #ffffff;
}

p {
  margin-bottom: 30px;
}

.fz20 {
  font-size: 20px;
  line-height: 1.55;
}

.txt_sm {
  font-size: 16px;
  line-height: 1.55;
}

.fz15 {
  font-size: 15px;
  line-height: 1.55;
}

a {
  color: #69a6b1;
}

a:hover {
  color: #5287ad;
}

/*==========>>  3.9.     FONTS   <<==========*/
/*==========>>  3.10.     TEXTAFIELD   <<==========*/
/*===  input  ===*/
input:not(:placeholder-shown) {
  /** input is not empty */;
}

input:placeholder-shown {
  /** input is empty */;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.form_box {
  margin-bottom: 25px;
  position: relative;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
textarea {
  color: #000000;
  border: 1px solid #c9c9c9;
  background-color: #ffffff;
  height: 60px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.33;
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

textarea {
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 15px;
  min-height: 125px;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]).error_message {
  border-color: #ff0000;
}

div.error_message {
  color: #ff0000;
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 100%;
}

.country-phone {
  color: #000000;
  border: 1px solid #c9c9c9;
  background-color: #ffffff;
  height: 60px;
  padding: 0;
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.33;
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.country-phone .country-phone-selector {
  float: left;
  padding: 20px 0;
  font-size: 16px;
  line-height: 20px;
}

.country-phone .country-phone-selector .country-phone-selected {
  padding: 0;
  padding-left: 20px;
  font-size: 16px;
  line-height: 20px;
  background-position: 0 1px;
}

.country-phone > input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
  border: none;
  width: auto;
  overflow: hidden;
  padding: 0 8px;
  margin-top: 2px;
  height: 54px;
}

.country-phone .country-phone-options {
  padding: 20px;
  background-color: #fff;
  max-height: 220px;
}

.country-phone .country-phone-options .country-phone-search-label {
  display: none !important;
}

.country-phone .country-phone-options input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
  overflow: hidden;
  height: 34px;
  margin-bottom: 10px;
}

/*==========>>  3.11.     BREADCRUMBS   <<==========*/
/*==========>>  3.12.     PRELOADER   <<==========*/
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #69a6b1;
  z-index: 100500;
}

#page-preloader .preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35px;
  height: 35px;
  margin-top: -17.5px;
  margin-left: -17.5px;
  display: inline-block;
  padding: 0px;
  border-radius: 100%;
  border: 2px solid;
  border-top-color: rgba(0, 0, 0, 0.65);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-left-color: rgba(0, 0, 0, 0.65);
  border-right-color: rgba(0, 0, 0, 0.15);
  -webkit-animation: preloader 0.8s linear infinite;
  animation: preloader 0.8s linear infinite;
}

@keyframes preloader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

/*  <!-- 4. HEADER 
============================================ --> */
#header {
  background-color: #ffffff;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: #000000;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
}

#header a {
  color: #000000;
}

#header.first_screen_active {
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

#header.first_screen_active a {
  color: #ffffff;
}

.header_container {
  font-size: 16px;
  line-height: 1.55;
}

.logo_resp {
  display: none !important;
}

.logo {
  display: inline-block;
  width: 100px;
}

.logo > a {
  display: block;
  text-decoration: none;
  font-size: 0;
}

.logo > a > img {
  max-width: 100%;
  max-height: 100%;
}

.logo ~ li {
  padding: 0 5px;
}

.header_container_wr {
  width: 100%;
}

.navigation_menu {
  width: 100%;
}

#menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}

.menu_item {
  float: left;
}

.menu_item.current .menu_link span:after {
  right: 0;
}

.menu_link {
  font-weight: 600;
  position: relative;
  display: block;
}

.menu_link span {
  padding: 10px 0;
  display: inline-block;
  position: relative;
}

.menu_link span:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  height: 6px;
  background: url(../images/menu_line.png) 0 0 repeat-x;
  background-size: auto 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.menu_link span:hover {
  color: #69a6b1;
}

.menu_link span:hover:after {
  right: 0;
}

.social_list {
  margin-left: -5px;
  margin-right: -5px;
}

.social_list li {
  padding: 0 5px;
  display: inline-block;
}

.social_list a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #000000;
  border-radius: 100%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.social_list a .fa {
  line-height: 30px;
}

.social_list a:hover {
  background-color: #69a6b1;
}

.phone_box {
  font-weight: 400;
}

.phone_box a {
  text-decoration: none;
}

.phone_box .phone {
  font-weight: 400;
}

.phone_box .call_back {
  text-decoration: underline !important;
}

.phone_box .call_back:hover {
  text-decoration: none !important;
}

.icon_mass {
  display: inline-block;
  height: 19px;
}

.icon_mass img {
  height: 100%;
  width: auto;
}

.language_box {
  padding-left: 30px;
  position: relative;
}

.language_list li:not(:last-child) {
  margin-bottom: 10px;
}

.language_list a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}

.language_list a:before {
  content: '';
  border: 2px solid transparent;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  bottom: 0;
  top: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.language_list a:hover:before, .language_list a.active:before {
  border: 2px solid #69a6b1;
  z-index: 2;
}

.language_list img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

.language_btn {
  display: none;
  padding-bottom: 10px;
}

.language_btn span {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}

.language_btn span:before {
  content: '';
  border: 2px solid transparent;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  bottom: 0;
  top: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.language_btn span:hover:before {
  border: 2px solid #69a6b1;
  z-index: 2;
}

.language_btn span img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header_top {
  height: 48px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#header.sticky {
  padding: 10px 0;
  height: 78px;
}

#header.sticky .logo {
  width: 70px;
}

#header.sticky .header_top {
  height: 0;
  overflow: hidden;
}

#header.sticky .language_box {
  margin-top: 12px;
}

#header.sticky .language_btn {
  display: block;
}

#header.sticky .language_btn + .language_list {
  position: absolute;
  top: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  -o-transform: translate(0, 10px);
  transform: translate(0, 10px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#header.sticky .language_btn:hover + .language_list,
  #header.sticky .language_list:hover {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.button_nav {
  display: block;
  border: none;
  outline: none;
  width: 45px;
  height: 45px;
  border: 3px solid #000000;
  border-radius: 100%;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  display: none;
  z-index: 15;
  margin-top: 7px;
}

.button_nav:before, .button_nav:after, .button_nav span {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000000;
  position: absolute;
  top: 10px;
  left: 7px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.button_nav span {
  top: 18px;
}

.button_nav:after {
  top: auto;
  bottom: 10px;
}

.button_nav.active span {
  display: none;
}

.button_nav.active:before {
  top: 19px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.button_nav.active:after {
  bottom: 17px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.first_screen_active .button_nav:before, .first_screen_active .button_nav:after, .first_screen_active .button_nav span {
  background-color: #ffffff;
}

.first_screen_active .button_nav {
  border: 3px solid #ffffff;
}

/*  <!-- 5. CONTENT 
============================================ --> */
#content {
  flex: 1 0 auto;
}

[class*="section"] {
  padding-top: 90px;
  padding-bottom: 30px;
}

[class*="section"]:last-child {
  padding-bottom: 90px;
}

.indent_box_2 {
  padding-top: 35px;
}

.something_container {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* - - - - - - - - - - first screen - - - - - - - - - - */
#section_main {
  position: relative;
  min-height: 100vh;
  padding: 190px 0 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.js-video:before, .js-video:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(73, 76, 90, 0.6);
}

.main_cont_box {
  position: relative;
  z-index: 5;
}

.main_bottom_box {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  z-index: 3;
}

.video_icon_img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: relative;
  background-color: #69a6b1;
  margin-right: 10px;
  flex-shrink: 0;
}

.video_icon_img img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.video_icon_txt {
  color: #69a6b1;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}

.container-offset-sm {
  padding-left: 50px;
  padding-right: 50px;
}

.col-sm-col-5 {
  width: 20%;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

.video_box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video_box iframe {
  width: 100%;
  height: 100%;
}

/* - - - - - - - - - -/ end of first screen - - - - - - - - - - */
/* - - - - - - - - - - section 1  - - - - - - - - - - */
.img_icon_box {
  display: block;
  position: relative;
  height: 240px;
  overflow: hidden;
  margin-bottom: 30px;
}

.img_icon_box:hover .img_icon_bg {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.img_icon_box:hover .img_icon_bg:before {
  opacity: 0.3;
}

.img_icon_bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.img_icon_bg:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #000000;
  opacity: 0.4;
}

.img_icon_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.img_icon_cont img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.img_icon_cont h6 {
  font-size: 18px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.img_icon_cont p {
  margin-bottom: 0;
  margin-top: 20px;
}

/* - - - - - - - - - -/ end of section 1  - - - - - - - - - - */
/* - - - - - - - - - - section 2  - - - - - - - - - - */
.gmap1 {
  width: 100%;
  height: 500px;
}

.gmap_box {
  position: relative;
}

.gmap_box .gmap_box_in {
  height: 1px;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.gmap_box .gmap_box_in > *,
    .gmap_box .gmap_box_in > * > * {
  height: 1px;
}

.gmap_box .gmap_box_card {
  background: #ffffff;
  padding: 60px;
  width: 100%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.gmap_box h6 {
  margin-bottom: 20px;
}

/* - - - - - - - - - -/ end of section 2  - - - - - - - - - - */
/* - - - - - - - - - - section 3  - - - - - - - - - - */
/* - - - - - - - - - -/ end of section 3  - - - - - - - - - - */
/* - - - - - - - - - - section 4  - - - - - - - - - - */
.apartments_main {
  background: #024cd3 url(../images/floors/apartments_main_img.jpg) center center no-repeat;
  height: 1080px;
  position: relative;
}

.apartments_main .container {
  position: relative;
}

.apartments_main:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #000000;
  opacity: 0.4;
}

.apartments_main_img {
  position: relative;
}

.apartments_main_img img {
  width: 100%;
  height: auto;
}

.apartments_floor_box {
  margin-top: 85px;
}

.apartments_floor_box li {
  margin-top: -55px;
}

.apartments_floor_box img {
  -moz-transform: scale(1.07);
  -o-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

.apartments_floor_poz {
  position: relative;
  z-index: 5;
  margin-left: -30px;
  margin-top: 15px;
  float: left;
}

.s-floor {
  cursor: pointer;
  opacity: 0;
  fill: #fff;
  position: relative;
}

.s-floor:hover {
  opacity: .5;
}

.s-floor-off {
  fill: #ff5858;
}

.floor-number {
  opacity: 0;
  font-size: 20px;
  font-family: 'Circe';
  line-height: 1.55;
  font-weight: 600;
  fill: #fff;
}

.s-floor:hover + .floor-number {
  opacity: 1;
}

.apartments_floor_info {
  width: 290px;
  position: absolute;
  right: 0;
  top: 50%;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 40px 20px;
  text-align: center;
  color: #ffffff;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.apartments_floor_info_title {
  font-size: 72px;
  line-height: 1.55;
  font-weight: 700;
}

.apartments_floor_info_title_sm {
  font-size: 36px;
  line-height: 1.55;
  font-weight: 600;
  position: relative;
  top: 38px;
}

.white_line {
  padding-bottom: 1px;
  margin-bottom: 5px;
  background: url(../images/white_line.png) center 100% repeat-x;
  background-size: auto 9px;
}

.apartments_floor_info_txt {
  font-size: 20px;
  line-height: 1.55;
  font-weight: 600;
}

.mb_lg:not(:last-child) {
  margin-bottom: 100px;
}

.apartments_floor_btn_box {
  display: none;
  position: absolute;
  right: 15px;
  top: 50px;
}

.apartments_floor_btn_list {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.apartments_floor_btn_list li {
  margin-bottom: 5px;
}

/* - - - - - - - - - -/ end of section 4  - - - - - - - - - - */
/* - - - - - - - - - - section 5  - - - - - - - - - - */
.link_line_box:not(:last-child) {
  margin-bottom: 20px;
}

.link_line li {
  margin-left: 25px;
  float: left;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 600;
}

.link_line li a {
  text-decoration: underline !important;
}

.link_line li a:hover {
  text-decoration: none !important;
}

.carousel_1 {
  position: relative;
}

.carousel_1 .item {
  position: relative;
}

.carousel_1 .item .item_cont {
  position: absolute;
  bottom: 40px;
  left: 15px;
  right: 15px;
  font-size: 26px;
  line-height: 1.55;
  font-weight: 600;
  text-align: center;
}

.carousel_1 .owl-nav {
  display: none;
}

.carousel_1 .owl-dots {
  height: 14px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.carousel_1 .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 100%;
  margin: 0 4px;
}

.carousel_1 .owl-dots .owl-dot:hover, .carousel_1 .owl-dots .owl-dot.active {
  background-color: #000000;
}

.box_black_fix {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 30px;
  width: 150px;
  height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid #000000;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  flex-shrink: 0;
}

/* - - - - - - - - - -/ end of section 5  - - - - - - - - - - */
/* - - - - - - - - - - section 6  - - - - - - - - - - */
.step_item:after {
  content: '';
  width: 24px;
  height: 44px;
  position: absolute;
  top: 10px;
  right: -27px;
  background: url(../images/icons/arrow_right.svg) 0 0 no-repeat;
  background-size: 100% 100%;
}

.col-sm-3:last-child .step_item:after {
  display: none;
}

.step_item {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.step_item .sten_icon .sten_icon_active {
  display: none;
}

.step_item .sten_icon img {
  width: 60px;
  height: 60px;
  margin-bottom: 25px;
}

.step_item .step_cont h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.35;
  margin-bottom: 15px;
}

.step_item .step_cont p {
  font-size: 18px;
  font-weight: 400;
}

.step_item.active {
  color: #69a6b1;
}

.step_item.active .sten_icon_active {
  display: inline-block;
}

.step_item.active .sten_icon_active + img {
  display: none;
}

.carousel_2 {
  padding-top: 20px;
  margin-bottom: 80px;
}

.carousel_2 .item {
  height: 440px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.carousel_2 .owl-nav > * {
  width: 40px;
  height: 40px;
  background-color: #e8e8e8;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.carousel_2 .owl-nav > *:hover {
  background-color: #69a6b1 !important;
}

.carousel_2 .owl-nav .owl-prev {
  left: 25%;
  margin-left: -40px;
  background: #e8e8e8 url(../images/icons/arrow_left_sm.svg) center center no-repeat;
  background-size: 9px 16px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.carousel_2 .owl-nav .owl-next {
  right: 25%;
  margin-right: -40px;
  background: #e8e8e8 url(../images/icons/arrow_right_sm.svg) center center no-repeat;
  background-size: 9px 16px;
}

.carousel_2 .owl-dots {
  height: 14px;
  position: absolute;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.carousel_2 .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: #c7c7c7;
  border-radius: 100%;
  margin: 0 8px;
}

.carousel_2 .owl-dots .owl-dot:hover, .carousel_2 .owl-dots .owl-dot.active {
  background-color: #000000;
}

/* - - - - - - - - - -/ end of section 6  - - - - - - - - - - */
/* - - - - - - - - - - section 7  - - - - - - - - - - */
.bg_box {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg_box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
}

.arrow_cont {
  position: absolute;
  bottom: -15px;
  left: -80px;
}

.arrow_cont img {
  width: 45px;
  height: 100px;
}

/* - - - - - - - - - -/ end of section 7  - - - - - - - - - - */
/* - - - - - - - - - - section 8  - - - - - - - - - - */
.bg_box_icon_1 {
  position: relative;
  padding-top: 20px;
}

.bg_box_icon_1:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -185px;
  width: 370px;
  height: 305px;
  background-image: url(../images/section8_bg.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100% 100%;
  opacity: 0.2;
}

/* - - - - - - - - - -/ end of section 8  - - - - - - - - - - */
/* - - - - - - - - - - section 9  - - - - - - - - - - */
.img_box_line_box .img_box_line {
  float: left;
  width: 33.33%;
  height: 18.48vw;
  display: block;
  position: relative;
  overflow: hidden;
}

.img_box_line_box .img_box_line .img_box_line_bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.img_box_line_box .img_box_line .img_box_line_bg:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #000000;
  opacity: 0.4;
}

.img_box_line_box .img_box_line:hover .img_box_line_bg {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.img_box_line_box .img_box_line:hover .img_box_line_bg:before {
  opacity: 0.3;
}

.img_box_line_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.img_box_line_cont img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.img_box_line_cont h6 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}

.img_box_line_btn_open {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.img_box_line:hover .img_box_line_btn_open {
  height: 85px;
  padding-top: 40px;
}

/* - - - - - - - - - -/ end of section 9  - - - - - - - - - - */
/* - - - - - - - - - - section 10  - - - - - - - - - - */
.gmap2 {
  width: 100%;
  height: 420px;
}

/* - - - - - - - - - -/ end of section 10  - - - - - - - - - - */
/* - - - - - - - - - - section 11  - - - - - - - - - - */
.icon_txt_box {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 30px;
}

.icon_txt_box .icon_txt_img {
  margin-bottom: 23px;
}

/* - - - - - - - - - -/ end of section 11  - - - - - - - - - - */
/* - - - - - - - - - - section 12  - - - - - - - - - - */
.item_box {
  margin-bottom: 40px;
}

.item_box .item_bg {
  width: 100%;
  padding-bottom: 56%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 20px;
  display: block;
}

.item_box .item_cont {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.55;
}

.item_box .item_cont .item_link {
  font-size: 28px;
  line-height: 1.17;
  font-weight: 600;
  margin-bottom: 20px;
}

.item_btm {
  margin-top: 30px;
}

/* - - - - - - - - - -/ end of section 12  - - - - - - - - - - */
/* - - - - - - - - - - arcticmodal  - - - - - - - - - - */
.modal_lg,
.modal_sm {
  position: relative;
}

.arcticmodal-container_i2 {
  padding-left: 10px;
  padding-right: 10px;
}

.arcticmodal_container_box {
  max-width: 560px;
  background-color: #ffffff;
  padding: 40px 45px;
  position: relative;
}

.title_modal {
  font-size: 36px;
  line-height: 1.23;
  margin-bottom: 11px;
  font-weight: 600;
}

.title_modal2 {
  font-size: 26px;
  line-height: 1.55;
  font-weight: 400;
  margin-bottom: 20px;
}

.arcticmodal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 2;
}

.arcticmodal-close svg {
  width: 23px;
  height: 23px;
  fill: #000000;
}

.arcticmodal-close:hover {
  opacity: 0.6;
}

.modal_lg .arcticmodal_container_box {
  max-width: none;
  padding: 40px 30px;
}

.modal_lg .container {
  background-color: #ffffff;
}

.slider_1 {
  position: relative;
  width: 100%;
}

.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:before,
.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:after,
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:before,
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
  display: none;
}

.sp-selected-thumbnail .sp-thumbnail-image-container {
  border: 2px solid #69a6b1;
}

.list_characteristics {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.list_characteristics li {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  width: 50%;
  float: left;
  margin-bottom: 35px;
  padding: 0 15px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.list_characteristics li img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.list_characteristics li span {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}

.list_characteristics li .txt_lg {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
}

.floors-wrap {
  position: relative;
}

.floors__img {
  width: 100%;
  display: block;
  height: auto;
}

.floors__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.floors__overlay svg {
  display: block;
  width: 100%;
  height: auto;
}

.s-room.is-sold {
  opacity: 0.6 !important;
  fill: #ff0303 !important;
  cursor: default;
}

.s-room:hover {
  opacity: 0.6;
  fill: #69a6b1;
}

.s-room {
  fill: #ff5858;
  opacity: 0;
  cursor: pointer;
}

.apartment-number {
  opacity: 0;
  fill: #000000;
  position: relative;
  z-index: 2;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}

.s-room:hover + .apartment-number,
.apartment-number:hover {
  opacity: 1;
}

.tooltip {
  position: absolute;
  z-index: 1005;
  left: -9999px;
  background-color: #5287ad;
  padding: 5px 10px;
  max-width: 200px;
  border-radius: 3px;
  display: block;
  line-height: 18px;
  font-size: 12px;
  color: #fff;
}

div.tooltip:after {
  content: '';
  position: absolute;
  top: 10px;
  left: -5px;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #5287ad;
}

.tooltip p {
  margin: 0;
  padding: 0;
  color: #fff;
}

.is-sold.tooltip {
  background-color: #000000;
}

.is-sold.tooltip:after {
  border-right: 5px solid #000000;
}

/* - - - - - - - - - -/ end of arcticmodal - - - - - - - - - - */
/*  <!-- 6. FOOTER 
============================================ --> */
#footer {
  flex: 0 0 auto;
  color: #525252;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 300;
}

.footer_container {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #69a6b1;
}

.footer_logo {
  margin-bottom: 40px;
}

.footer_logo img {
  width: 120px;
  height: 100px;
}

.footer_txt a {
  color: #000000;
}

.footer_title {
  font-size: 16px;
  line-height: 1.35;
  margin-bottom: 14px;
  font-weight: 600;
}

.footer_list li {
  margin-bottom: 10px;
}

.footer_list a {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.55;
}

.footer_list a:hover {
  text-decoration: underline !important;
}

.call_back_btn {
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  position: fixed;
  z-index: 99;
  background: #69a6b1;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  animation: t651__btn-animate 2s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation: t651__btn-animate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
}

.call_back_btn img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@-webkit-keyframes t651__btn-animate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }

  25% {
    -webkit-transform: rotate(10deg) scale(1.1);
    transform: rotate(10deg) scale(1.1);
  }

  50% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }

  70% {
    -webkit-transform: rotate(-10deg) scale(1.1);
    transform: rotate(-10deg) scale(1.1);
  }

  100% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}

@keyframes t651__btn-animate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }

  25% {
    -webkit-transform: rotate(10deg) scale(1.1);
    transform: rotate(10deg) scale(1.1);
  }

  50% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }

  70% {
    -webkit-transform: rotate(-10deg) scale(1.1);
    transform: rotate(-10deg) scale(1.1);
  }

  100% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}

.geoline_logo img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-left: 8px;
  position: relative;
  top: -3px;
}
