/*  <!-- 1. IMPORT Plugins and other CSS files 
============================================ --> */
@import "../css/font.css";
//@import "lib/_fonts";

/*  <!-- 2. DEFAULT Stylesheets 
============================================ --> */
    html,body{
        width:100%;
        height: 100%;
    }
    .page_wrap{
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        min-height: 100%;
        overflow-x: hidden;
    }

    body {
        @include font-default('Circe', 24px, false, 1.45);
        color: color('black');
        background: color('white');
        min-width:320px;
        font-weight: 400;
    }

    /* when you select text is added to a custom style  */
   
    ::selection{
        color: #fff;
        background-color: #0066cc;
    }

   ::-moz-selection{
        color: #fff;
        background-color: #0066cc;
    }

    /* !!! */

    /* custom style to scroll (only in chrome) */
    
    ::-webkit-scrollbar{
        background: #e2e2e2;
        width: 10px;
    }

   ::-webkit-scrollbar-thumb{background: #007ae4;}  
   
   /* !!! */


.detect_scroll_width{
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}