        /*==========>>  3.1.      Float:;   <<==========*/
            
            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}

        /*==========>>  3.2.      Text-align:;   <<==========*/

            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}
        
        /*==========>>  3.3.      INDENTS Zero   <<==========*/

            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}

        /*==========>>  3.4.      Position :;   <<==========*/
            
            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}
            .transparent{ opacity:0; }

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: 99;
            }
            
            .z-i9{z-index: 9;}

        /*==========>>  3.5.      Clearfix   <<==========*/

            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }
            
            .clearfix:after{
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}

        /*==========>>  3.6.      Dispay:;   <<==========*/

            .d_block{display:block;}
            .d_ib{display:inline-block;}
            .d_none{display:none;}

            .d_t{display:table;}
            .d_row{display:table-row;}
            .d_tc{display:table-cell;}
            
            .d_f{display: flex;}
            .d_if{display: inline-flex;}
            

            //  align-items  ==========>>
            
            // justify-content: center
            .jc-center{
                -webkit-justify-content: center;
                        justify-content: center;
            }
            // justify-content: flex-start
            .jc-start{
                -webkit-justify-content: flex-start;
                        justify-content: flex-start;
            }
            // justify-content: flex-end
            .jc-end{
                -webkit-justify-content: flex-end;
                        justify-content: flex-end;
            }
            // justify-content: space-between
            .justify-content-between,
            .jc-between{
                -webkit-justify-content: space-between;
                        justify-content: space-between;
            }
            // justify-content: space-around
            .jc-around{
                -webkit-justify-content: space-around;
                        justify-content: space-around;
            }
            // justify-content: space-evenly
            .jc-around{
                -webkit-justify-content: space-evenly;
                        justify-content: space-evenly;
            } 

            //  align-items  ==========>>
            
            // align-items: flex-start
            .al-it-start{
                -webkit-align-items: flex-start;
                        align-items: flex-start;
            }
            // align-items: flex-end
            .al-it-end{
                -webkit-align-items: flex-end;
                        align-items: flex-end;
            }
            // align-items: center
            .align-items-center,
            .al-it-center{
                -webkit-align-items: center;
                        align-items: center;
            }
            // align-items: baseline
            .al-it-baseline{
                -webkit-align-items: baseline;
                        align-items: baseline;
            }
            // align-items: stretch
            .al-it-stretch{
                -webkit-align-items: stretch;
                        align-items: stretch;
            }

            //  align-self  ==========>>
            
            // align-self: auto
            .al-s-auto{
                -webkit-align-self: auto;
                        align-self: auto;
            }
            // align-self: flex-start
            .al-s-start{
                -webkit-align-self: flex-start;
                        align-self: flex-start;
            }
            // align-self: flex-end
            .al-s-end{
                -webkit-align-self: flex-end;
                        align-self: flex-end;
            }
            // align-self: center
            .al-s-center{
                -webkit-align-self: center;
                        align-self: center;
            }
            // align-self: baseline
            .al-s-baseline{
                -webkit-align-self: baseline;
                        align-self: baseline;
            }
            // align-self: stretch
            .al-s-stretch{
                -webkit-align-self: stretch;
                        align-self: stretch;
            }

            //  align-content  ==========>>
            
            // align-content: flex-start
            .al-c-start{
                -webkit-align-content: flex-start;
                        align-content: flex-start;
            }
            // align-content: flex-end
            .al-c-end{
                -webkit-align-content: flex-end;
                        align-content: flex-end;
            }
            // align-content: center
            .al-c-center{
                -webkit-align-content: center;
                        align-content: center;
            }
            // align-content: space-between
            .al-c-between{
                -webkit-align-content: space-between;
                        align-content: space-between;
            }
            // align-content: space-around
            .al-c-around{
                -webkit-align-content: space-around;
                        align-content: space-around;
            }
            // align-content: stretch
            .al-c-stretch{
                -webkit-align-content: stretch;
                        align-content: stretch;
            }

        /*==========>>  3.7.      LINKS   <<==========*/

            * a,
            * button{
                @include transition(all,  0.7s, ease);
                
                &:hover{
                   @include transition(all,  0.1s, ease);
                }

            }
            [data-popup]{cursor: pointer;}
            
            
            [class^="btn_"]{
                text-transform: uppercase;
                font-weight: 600;
                border-radius: 30px;
                $default: (
                    'padding'     : 18px 20px,
                    'font-size'   : 16px,
                    'line-height' : 20px
                );
                
                @include btn-size($default);
                text-align: center;

                i.fa {
                    margin-right: 15px;
                    font-size: 18px;
                }
            }
            .btn_size{
                // $default: false;

                $default: (
                    'padding'     : 15px,
                    'font-size'   : false,
                    'line-height' : 20px
                );
                @include btn-size($default);
            }

            .btn_white{
                $default: false;
                $border: ( 
                  'width'  : 2px,
                  'style'  : solid,
                  'color'  : color('white')
                );
                
                @include button-style($default, color('white'), color('black'), $border);

                &:hover {
                    border-color: #69a6b1;
                    background-color: #69a6b1;
                }
                
            }

            .btn_white_bor{
                $default: false;
                $border: ( 
                  'width'  : 2px,
                  'style'  : solid,
                  'color'  : color('white')
                );
                
                @include button-style($default, color('tr'), color('white'), $border);

                &:hover {
                    color: #ffffff;
                    border-color: #69a6b1;
                    background-color: #69a6b1;
                }
                
            }

            .btn_blue{
                $default: false;
                $border: ( 
                  'width'  : 2px,
                  'style'  : solid,
                  'color'  : color('blue')
                );
                
                @include button-style($default, color('blue'), color('black'), $border);

                &:hover {
                    color: #ffffff;
                    border-color: #5287ad;
                    background-color: #5287ad;
                }
                
            }

            .btn_black{
                $default: false;
                // $border: false;
                // $default: (
                //     'padding'     : false,
                //     'font-size'   : 18px,
                //     'line-height' : 1.2
                // );
                $border: ( 
                  'width'  : 2px,
                  'style'  : solid,
                  'color'  : color('black')
                );
                
                @include button-style($default, color('white'), color('black'), $border);

                &:hover {
                    border-color: #69a6b1;
                    background-color: #69a6b1;
                }
                
            }


            .btn_black_fix{
                width: 150px;
                height: 60px;
                padding-top: 5px;
                padding-bottom: 5px;
                flex-shrink:0;
                $default: false;
                $border: ( 
                  'width'  : 2px,
                  'style'  : solid,
                  'color'  : color('black')
                );
                
                @include button-style($default, color('white'), color('black'), $border);

                &:hover {
                    border-color: #69a6b1;
                    background-color: #69a6b1;
                }
                
            }

            .btn_lg {
                padding-left: 40px;
                padding-right: 40px;
            }
            .btn_sm {
                font-size: 14px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .btn_100pr {
                width: 100%;
            }



        /*==========>>  3.8.     TITLES   <<==========*/
            
            h1,h2,h3,h4,h5,h6{
                @include font-default('Circe', 20px, false, 1.2);
                margin: 0;
                margin-bottom: 20px;
                font-weight: 600;
            }
            
            h1{
                font-size: 58px;
                line-height: 1;
                font-weight: 700;
            }
            h2{
                font-size: 26px;
                line-height: 1.5;
                font-weight: 400;
            }
            h3{
                font-size: 42px;
                line-height: 1.2;
                font-weight: 600;
            }
            h4{
                font-size: 20px;
                font-weight: 400;
                line-height: 1.35;
            }
            h5{
                font-size: 18px;
                line-height: 1.55;
                font-weight: 600;
                letter-spacing: 2px;
                position: relative;
                display: inline-block;
                padding-bottom: 5px;
                text-transform: uppercase;
                margin-bottom: 30px;
                
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 100%;
                    height: 7px;
                    background:  url(../images/title_line.png) 0 100% repeat-x;
                    background-size: auto 7px;
                    -webkit-transition: all 0.7s;
                    -o-transition: all 0.7s;
                    transition: all 0.7s;
                }
            }
            .line_animated {
                &:after {
                    right: 0;
                }
            }
            .h5_lg {
                font-size: 26px;
            }
            h6{
                font-size: 24px;
                line-height: 1.45;
                font-weight: 400;
                margin-bottom: 40px;
            }

            .title_lg {
                font-size: 50px;
                line-height: 1.23;
                font-weight: 600;
                margin-bottom: 70px;
            }
            .blackout {
                h1,h2,h3,h4,h5,h6{
                    color: #ffffff;
                }
            }
            p {
                margin-bottom: 30px;
            }
            .fz20 {
                font-size: 20px;
                line-height: 1.55;
            }
            .txt_sm {
                font-size: 16px;
                line-height: 1.55;
            }
            .fz15 {
                font-size: 15px;
                line-height: 1.55;
            }

            a {
                color: #69a6b1;

                &:hover {
                    color: #5287ad;
                }
            }

        /*==========>>  3.9.     FONTS   <<==========*/
        
            
        /*==========>>  3.10.     TEXTAFIELD   <<==========*/
        
            /*===  input  ===*/
            
            input:not(:placeholder-shown) {
              /** input is not empty */
            }

            input:placeholder-shown {
              /** input is empty */
            }


            input,  
            textarea {  
                @include placeholder {
                    @include transition( all, 0.5s, ease);
                    color: inherit;
                }

                &:focus{
                    @include placeholder {
                        color: transparent;
                    }
                }
            }

            .form_box {
                margin-bottom: 25px;
                position: relative;
            }
            input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
            textarea {
                color: #000000;
                border: 1px solid #c9c9c9;
                background-color: #ffffff;
                height: 60px;
                padding: 0 20px;
                font-size: 16px;
                line-height: 1.33;
                width: 100%;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
            }
            textarea {
                max-width: 100%;
                padding-top: 20px;
                padding-bottom: 15px;
                min-height: 125px;
            }
            input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]).error_message {
                border-color: #ff0000;
            }
            div.error_message {
                color: #ff0000;
                font-size: 12px;
                position: absolute;
                left: 0;
                top: 100%;
            }
            
            .country-phone {
                color: #000000;
                border: 1px solid #c9c9c9;
                background-color: #ffffff;
                height: 60px;
                padding: 0;
                padding-left: 20px;
                font-size: 16px;
                line-height: 1.33;
                width: 100%;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;

                .country-phone-selector {
                    float: left;
                    padding: 20px 0;
                    font-size: 16px;
                    line-height: 20px;

                    .country-phone-selected {
                        padding: 0;
                        padding-left: 20px;
                        font-size: 16px;
                        line-height: 20px;
                        background-position: 0 1px;
                    }
                }

                &>input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
                    border: none;
                    width: auto;
                    overflow: hidden;
                    padding: 0 8px;
                    margin-top: 2px;
                    height: 54px;
                }
                .country-phone-options {
                    padding: 20px;
                    background-color: #fff;
                    max-height: 220px;

                    .country-phone-search-label {
                        display: none !important;
                    }
                }
                .country-phone-options input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
                    overflow: hidden;
                    height: 34px;
                    margin-bottom: 10px;
                }
            }
            
        /*==========>>  3.11.     BREADCRUMBS   <<==========*/
            
            // .breadcrumbs_container{
            //     background-color: #ff6633;
            // }
            //     .breadcrumbs{
            //         display: block;
            //         list-style: none;
            //         margin: 10px 0;
                    
            //         &_it{
            //             position: relative;
            //             float: left;
            //             margin-right: 4px;
            //             padding-right: 15px;
                        
            //             &:before{
            //                 display: block;
            //                 position: absolute;
            //                 right: 0;
            //                 top: 0;
            //                 content: attr(data-bread-arr);
            //                 color: #fff;
            //                 font-size: 20px;
            //                 line-height: 20px;
            //                 /* background: url(../images/icon_breadcrumbs.png) 0 0 no-repeat; */
            //                 /* width: 6px;
            //                 height: 6px; */
            //             }
                        
            //             a{
            //                 text-decoration: none;
            //                 color: #fff;
                            
            //                 &:hover span{
            //                     text-decoration: underline;
            //                 }

            //             }

            //         }

            //         & &_it:last-child:before{
            //             display: none;
            //         }

            //         & &_it:first-child a{
            //             padding-left: 0;
            //         }

            //         &_current{
            //             font: {
            //                 size: 15px;
            //                 weight: 700;
            //             }
            //             line-height: 21px;
            //             color: #fff;
            //         }
            //     }
                
        /*==========>>  3.12.     PRELOADER   <<==========*/
        
            #page-preloader {
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: #69a6b1;
                z-index: 100500;
                
                .preloader {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width:35px;
                    height:35px;
                    margin-top: -17.5px;
                    margin-left: -17.5px;
                    display:inline-block;
                    padding:0px;
                    border-radius:100%;
                    border:2px solid;
                    border-top-color:rgba(0,0,0, 0.65);
                    border-bottom-color:rgba(0,0,0, 0.15);
                    border-left-color:rgba(0,0,0, 0.65);
                    border-right-color:rgba(0,0,0, 0.15);
                    -webkit-animation: preloader 0.8s linear infinite;
                    animation: preloader 0.8s linear infinite;
                }
            }

            @keyframes preloader {
               from {transform: rotate(0deg);}
               to {transform: rotate(360deg);}
            }
            @-webkit-keyframes preloader {
               from {-webkit-transform: rotate(0deg);}
               to {-webkit-transform: rotate(360deg);}
            }
