	#content {
        flex: 1 0 auto;
    }
        [class*="section"]{
            padding-top: 90px;
            padding-bottom: 30px;
        }
        [class*="section"]:last-child {
            padding-bottom: 90px;
        }
        .indent_box_2{
            padding-top: 35px;
        }
        .something_container{
            @include transition(all, 1s, ease);

        }

        /* - - - - - - - - - - first screen - - - - - - - - - - */
        #section_main {
            position: relative;
            // height: 614px;
            min-height: 100vh;
            padding: 190px 0 150px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .js-video:before, .js-video:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-color: rgba(73, 76, 90, 0.6);
        }
        .main_cont_box {
            position: relative;
            z-index: 5;
        }
        
        .main_bottom_box {
            position: absolute;
            bottom: 30px;
            left: 0;
            right: 0;
            z-index: 3;

        }
        .video_icon_img {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            position: relative;
            background-color: #69a6b1;
            margin-right: 10px;
            flex-shrink:0;

            img {
                width: 50px;
                height: 50px;
                position: absolute;
                top: 15px;
                left: 15px;
            }
        }
        .video_icon_txt {
            color: #69a6b1;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
        }
        .container-offset-sm {
            padding-left: 50px;
            padding-right: 50px;
        }
        .col-sm-col-5 {
            width: 20%;
            padding-left: 15px;
            padding-right: 15px;
            float: left;
        }
        .video_box {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            iframe {
                width: 100%;
                height: 100%;
            }
        }
        /* - - - - - - - - - -/ end of first screen - - - - - - - - - - */
        
        /* - - - - - - - - - - section 1  - - - - - - - - - - */

        .img_icon_box {
            display: block;
            position: relative;
            height: 240px;
            overflow: hidden;
            margin-bottom: 30px;

            &:hover .img_icon_bg {
                -moz-transform:  scale(1.1);
                 -o-transform:   scale(1.1);
                 -webkit-transform: scale(1.1);
                 transform:  scale(1.1);

                 &:before {
                    opacity: 0.3;
                }
            }
        }

        .img_icon_bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                background-color: #000000;
                opacity: 0.4;
            }
        }
        .img_icon_cont {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;

            color: #ffffff;
            font-size: 16px;
            font-weight: 600;
            text-align: center;

            img {
                width: 50px;
                height: 50px;
                margin-bottom: 20px;
            }
            h6 {
                font-size: 18px;
                margin-bottom: 0;
                text-transform: uppercase;
            }
            p {
                margin-bottom: 0;
                margin-top: 20px;
            }
        }
        

        /* - - - - - - - - - -/ end of section 1  - - - - - - - - - - */
        
        /* - - - - - - - - - - section 2  - - - - - - - - - - */

        .gmap1 {
            width: 100%;
            height: 500px;
        }

        .gmap_box {
            position: relative;

            .gmap_box_in {
                height: 1px;
                z-index: 10;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                

                &>*,
                &>*>* {
                    height: 1px;    
                }
            }

            .gmap_box_card {
                background: #ffffff;
                padding: 60px;
                width: 100%;
                -webkit-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                transform: translate(0, -50%);
            }

            h6 {
                margin-bottom: 20px;
            }

        } 
        
        
        /* - - - - - - - - - -/ end of section 2  - - - - - - - - - - */

        /* - - - - - - - - - - section 3  - - - - - - - - - - */
        
        
        /* - - - - - - - - - -/ end of section 3  - - - - - - - - - - */
        /* - - - - - - - - - - section 4  - - - - - - - - - - */
        .apartments_main {
            background: #024cd3  url(../images/floors/apartments_main_img.jpg) center center no-repeat;
            height: 1080px;
            position: relative;

            & .container {
                position: relative;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                background-color: #000000;
                opacity: 0.4;
            }
        }
        .apartments_main_img {

            position: relative;

            img {
                width: 100%;
                height: auto;
            }
        }

        .apartments_floor_box {
            margin-top: 85px;

            li {
                margin-top: -55px;
            }

            img {
                -moz-transform:  scale(1.07);
                 -o-transform:   scale(1.07);
                 -webkit-transform: scale(1.07);
                 transform:  scale(1.07);
            }
        }

        .apartments_floor_poz {
            position: relative;
            z-index: 5;
            margin-left: -30px;
            margin-top: 15px;
            float: left;
        }
        .s-floor {
            cursor: pointer;
            opacity: 0;
            fill: #fff;
            position: relative;
        }
        .s-floor:hover {
            opacity: .5;
        }
        .s-floor-off {
            fill: #ff5858;
        }

        .floor-number {
            opacity: 0;
            font-size: 20px;
            font-family: 'Circe';
            line-height: 1.55;
            font-weight: 600;
            fill: #fff;
        }
        .s-floor:hover + .floor-number {
            opacity: 1;
        }
        .apartments_floor_info {
            width: 290px;
            position: absolute;
            right: 0;
            top: 50%;
            border: 2px solid #ffffff;
            border-radius: 10px;
            padding: 40px 20px;
            text-align: center;
            color: #ffffff;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
        }

        .apartments_floor_info_title {
            font-size: 72px;
            line-height: 1.55;
            font-weight: 700;
        }
        .apartments_floor_info_title_sm{
            font-size: 36px;           
            line-height: 1.55;
            font-weight: 600;
            position: relative;
            top: 38px;
        }
        .white_line {
            padding-bottom: 1px;
            margin-bottom: 5px;
            background:  url(../images/white_line.png) center 100% repeat-x;
            background-size: auto 9px;
        }
        .apartments_floor_info_txt {
            font-size: 20px;
            line-height: 1.55;
            font-weight: 600;
        }
        .mb_lg:not(:last-child) {
            margin-bottom: 100px;
        }

        .apartments_floor_btn_box {
            display: none;
            position: absolute;
            right: 15px;
            top: 50px;
        }
        .apartments_floor_btn_list {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
        }
        .apartments_floor_btn_list li {
            margin-bottom: 5px;
            
        }
        /* - - - - - - - - - -/ end of section 4  - - - - - - - - - - */
        /* - - - - - - - - - - section 5  - - - - - - - - - - */

        .link_line_box:not(:last-child) {
            margin-bottom: 20px;
        }
        .link_line li {
            margin-left: 25px;
            float: left;
            font-size: 18px;
            line-height: 1.55;
            font-weight: 600;

            a {
                text-decoration: underline !important;

                &:hover {
                    text-decoration: none !important;
                }
            }
        
        }
        
        .carousel_1 {
            position: relative;

            .item {
                position: relative;

                .item_cont {
                    position: absolute;
                    bottom: 40px;
                    left: 15px;
                    right: 15px;
                    font-size: 26px;
                    line-height: 1.55;
                    font-weight: 600;
                    text-align: center;
                }
            }

            .owl-nav {
                display: none;
            }

            .owl-dots {
                height: 14px;
                position: absolute;
                bottom: 15px;
                left: 50%;
                -webkit-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                -o-transform: translate(-50%, 0);
                transform: translate(-50%, 0);

                .owl-dot {
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    border: 2px solid #000000;
                    border-radius: 100%;
                    margin: 0 4px;

                    &:hover,
                    &.active {
                        background-color: #000000;
                    }
                }
            }
        }

        .box_black_fix{
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            border-radius: 30px;
            width: 150px;
            height: 60px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 16px;
            line-height: 20px;
            border: 2px solid #000000;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            -o-justify-content: center;
            justify-content: center;
            flex-shrink:0;
        }
        
        /* - - - - - - - - - -/ end of section 5  - - - - - - - - - - */
        /* - - - - - - - - - - section 6  - - - - - - - - - - */

        .step_item:after {
            content: '';
            width: 24px;
            height: 44px;
            position: absolute;
            top: 10px;
            right: -27px;
            background:  url(../images/icons/arrow_right.svg) 0 0 no-repeat;
            background-size: 100% 100%;
        }
        .col-sm-3:last-child .step_item:after {
            display: none;
        }
        .step_item {
            text-align: center;
            position: relative;
            margin-bottom: 40px;

            .sten_icon {
                
                .sten_icon_active {
                    display: none;
                }
                img {
                    width: 60px;
                    height: 60px;
                    margin-bottom: 25px;
                }
            }
            .step_cont {

                h4 {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.35;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 18px;
                    font-weight: 400;
                }
            }

            &.active {
                color: #69a6b1;

                .sten_icon_active {
                    display: inline-block;

                    & + img {
                        display: none;
                    }
                }
            }

        }

        .carousel_2 {
            padding-top: 20px;
            margin-bottom: 80px;

            .item {
                height: 440px;
                width: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
            }

            .owl-nav {

                &>* {
                    width: 40px;
                    height: 40px;
                    background-color: rgba(232,232,232,1);
                    border-radius: 100%;
                    position: absolute;
                    top: 50%;
                    -webkit-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s;

                    &:hover {
                        background-color: #69a6b1 !important;
                    }

                }

                
                .owl-prev {
                    left: 25%;
                    margin-left: -40px;
                    background: rgba(232,232,232,1) url(../images/icons/arrow_left_sm.svg) center center no-repeat;
                    background-size: 9px 16px;
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                }
                .owl-next {
                    right: 25%;
                    margin-right: -40px;
                    background: rgba(232,232,232,1) url(../images/icons/arrow_right_sm.svg) center center no-repeat;
                    background-size: 9px 16px;
                }
            }

            .owl-dots {
                height: 14px;
                position: absolute;
                bottom: -35px;
                left: 50%;
                -webkit-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                -o-transform: translate(-50%, 0);
                transform: translate(-50%, 0);

                .owl-dot {
                    width: 8px;
                    height: 8px;
                    display: inline-block;
                    background-color: #c7c7c7;
                    border-radius: 100%;
                    margin: 0 8px;

                    &:hover,
                    &.active {
                        background-color: #000000;
                    }
                }

               
            }
        }

        
        /* - - - - - - - - - -/ end of section 6  - - - - - - - - - - */

        /* - - - - - - - - - - section 7  - - - - - - - - - - */

        .bg_box {
            position: relative;
            padding-top: 100px;
            padding-bottom: 100px;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #000000;
                opacity: 0.6;
            }
        }

        .arrow_cont {
            position: absolute;
            bottom: -15px;
            left: -80px;

            img {
                width: 45px;
                height: 100px;
            }
        }
        
        
        /* - - - - - - - - - -/ end of section 7  - - - - - - - - - - */

        /* - - - - - - - - - - section 8  - - - - - - - - - - */
        
        .bg_box_icon_1 {
            position: relative;
            padding-top: 20px;

            &:before {
                content: '';
                position: absolute;
                top: 0px;
                left: 50%;
                margin-left: -185px;
                width: 370px;
                height: 305px;
                background-image: url(../images/section8_bg.png);
                background-repeat: no-repeat;
                background-position: center 0;
                background-size: 100% 100%;
                opacity: 0.2;
            }
        } 
        
        /* - - - - - - - - - -/ end of section 8  - - - - - - - - - - */

        /* - - - - - - - - - - section 9  - - - - - - - - - - */
            
        .img_box_line_box {

            .img_box_line {
                float: left;
                width: 33.33%;
                height: 18.48vw;
                display: block;
                position: relative;
                overflow: hidden;

                .img_box_line_bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    -webkit-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s;
                    background-size: cover;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        -webkit-transition: all 0.5s;
                        -o-transition: all 0.5s;
                        transition: all 0.5s;
                        background-color: #000000;
                        opacity: 0.4;
                    }
                }
                
                &:hover .img_box_line_bg {
                    -moz-transform:  scale(1.1);
                     -o-transform:   scale(1.1);
                     -webkit-transform: scale(1.1);
                     transform:  scale(1.1);

                     &:before {
                        opacity: 0.3;
                    }
                }
            }
        }

        

        .img_box_line_cont {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;

            color: #ffffff;
            font-size: 18px;
            font-weight: 600;
            text-align: center;

            img {
                width: 50px;
                height: 50px;
                margin-bottom: 20px;
            }
            h6 {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }

        .img_box_line_btn_open {
            height: 0;
            overflow: hidden;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
        }
        .img_box_line:hover .img_box_line_btn_open {
            height: 85px;
            padding-top: 40px;
        }
        /* - - - - - - - - - -/ end of section 9  - - - - - - - - - - */

        /* - - - - - - - - - - section 10  - - - - - - - - - - */

        .gmap2 {
            width: 100%;
            height: 420px;
        }
        
        
        /* - - - - - - - - - -/ end of section 10  - - - - - - - - - - */
        
        /* - - - - - - - - - - section 11  - - - - - - - - - - */

        .icon_txt_box {
            text-align: center;
            margin-bottom: 70px;
            margin-top: 30px;

            .icon_txt_img {
                margin-bottom: 23px;
            }
        }
        
        
        /* - - - - - - - - - -/ end of section 11  - - - - - - - - - - */

        /* - - - - - - - - - - section 12  - - - - - - - - - - */
        .item_box {
            margin-bottom: 40px;

            .item_bg {
                width: 100%;
                padding-bottom: 56%;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                margin-bottom: 20px;
                display: block;
            }

            .item_cont {
                font-weight: 300;
                font-size: 18px;
                line-height: 1.55;

                .item_link {
                    font-size: 28px;
                    line-height: 1.17;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
            }
        }
        .item_btm {
            margin-top: 30px;
        }
        
        
        /* - - - - - - - - - -/ end of section 12  - - - - - - - - - - */

        /* - - - - - - - - - - arcticmodal  - - - - - - - - - - */
        .modal_lg,
        .modal_sm {
            position: relative;
        }
        .arcticmodal-container_i2 {
            padding-left: 10px;
            padding-right: 10px;
        }
        .arcticmodal_container_box {
            max-width: 560px;
            background-color: #ffffff;
            padding: 40px 45px;
            position: relative;
        }
        .title_modal {
            font-size: 36px;
            line-height: 1.23;
            margin-bottom: 11px;
            font-weight: 600;
        }
        .title_modal2 {
            font-size: 26px;
            line-height: 1.55;
            font-weight: 400;
            margin-bottom: 20px;
        }
        .arcticmodal-close {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
            z-index: 2;

            svg {
                width: 23px;
                height: 23px;
                fill: #000000;
            }
            &:hover {
                opacity: 0.6;
            }
        }

        .modal_lg .arcticmodal_container_box {
            max-width: none;
            padding: 40px 30px;
        }
        .modal_lg .container{
            background-color: #ffffff;
        }

        .slider_1 {
            position: relative;
            width: 100%;
            
        }
        .sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:before,
        .sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:after,
        .sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:before,
        .sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
            display: none;
        }
        .sp-selected-thumbnail .sp-thumbnail-image-container {
            border: 2px solid #69a6b1 ;
        }

        .list_characteristics {
            display: flex;
            -webkit-flex-wrap: wrap;
                flex-wrap: wrap;

            li {
                font-size: 16px;
                line-height: 1.2;
                font-weight: 400;
                width: 50%;
                float: left;
                margin-bottom: 35px;
                padding: 0 15px;
                display: flex;
                -webkit-align-items: center;
                        align-items: center;

                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 15px;
                }

                span {
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 400;
                }
                .txt_lg {
                    font-size: 24px;
                    line-height: 1.2;
                    font-weight: 400;

                }
            }
        }

        .floors-wrap {
            position: relative;
        }

        .floors__img {
            width: 100%;
            display: block;
            height: auto;
        }
        .floors__overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .floors__overlay svg {
            display: block;
            width: 100%;
            height: auto;
        }
        .s-room.is-sold {
            opacity: 0.6 !important;
            fill: #ff0303 !important;
            cursor: default;

        }
        .s-room:hover {
            opacity: 0.6;
            fill: #69a6b1;
        }
        .s-room {
            fill: #ff5858;
            opacity: 0;
            cursor: pointer;
        }
        .apartment-number {
            opacity: 0;
            fill: #000000;
            position: relative;
            z-index: 2;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
        }
        .s-room:hover + .apartment-number,
        .apartment-number:hover {
            opacity: 1;
        }

        .tooltip_on {
          //cursor: default;
        }
        .tooltip{
          position:absolute;
          z-index:1005;
          left:-9999px;
          background-color:#5287ad;
          padding:5px 10px;
          max-width:200px;
          border-radius: 3px;
          display: block;
          line-height: 18px;
          font-size: 12px;
          color: #fff;
        }

        div.tooltip:after {
          content: '';
          position: absolute;
          top: 10px;
          left: -5px;
          width: 0px;
          height: 0px;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 5px solid #5287ad;

        }
        .tooltip p{
          margin:0;
          padding:0;
          color:#fff;
        }
        .is-sold.tooltip  {
            background-color: #000000;

            &:after {
                border-right: 5px solid #000000;
            }
        }
        /* - - - - - - - - - -/ end of arcticmodal - - - - - - - - - - */


       