	#footer {
        flex: 0 0 auto;
        color: #525252;
        font-size: 14px;
    	line-height: 1.55;
    	font-weight: 300;
    }
        .footer_container{
            padding-top: 75px;
    		padding-bottom: 75px;
    		background-color: #69a6b1;
        }

        .footer_logo {
        	margin-bottom: 40px;

        	img {
        		width: 120px;
        		height: 100px;
        	}
        }

        .footer_txt {	

    		a {
    			color: #000000;
    		}
        }
        .footer_title {
			font-size: 16px;
    		line-height: 1.35;
    		margin-bottom: 14px;
    		font-weight: 600;
        }

        .footer_list {

        	li {
        		margin-bottom: 10px;
        	}

        	a {
        		color: #ffffff;
        		font-size: 14px;
    			line-height: 1.55;

    			&:hover {
    				text-decoration: underline !important;
    			}
        	}
        }

    .call_back_btn {
    	bottom: 50px;
	    right: 50px;
	    cursor: pointer;
	    position: fixed;
	    z-index: 99;
    	background: #69a6b1;
    	height: 60px;
	    width: 60px;
	    border-radius: 50%;
	    box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
	    -webkit-transition: all 0.2s linear;
	    transition: all 0.2s linear;
    	animation: t651__btn-animate 2s ease-out;
	    animation-iteration-count: infinite;
	    -webkit-animation: t651__btn-animate 2s ease-out;
	    -webkit-animation-iteration-count: infinite;

	    img {
	    	width: 30px;
	    	height: 30px;
	    	position: absolute;
	    	top: 50%;
	    	left: 50%;
	    	-webkit-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		    -o-transform: translate(-50%, -50%);
		    transform: translate(-50%, -50%);
	    }
    }
    @-webkit-keyframes t651__btn-animate{0%{-webkit-transform:rotate(0deg) scale(1);transform:rotate(0deg) scale(1)}25%{-webkit-transform:rotate(10deg) scale(1.1);transform:rotate(10deg) scale(1.1)}50%{-webkit-transform:rotate(0deg) scale(1);transform:rotate(0deg) scale(1)}70%{-webkit-transform:rotate(-10deg) scale(1.1);transform:rotate(-10deg) scale(1.1)}100%{-webkit-transform:rotate(0deg) scale(1);transform:rotate(0deg) scale(1)}}@keyframes t651__btn-animate{0%{-webkit-transform:rotate(0deg) scale(1);transform:rotate(0deg) scale(1)}25%{-webkit-transform:rotate(10deg) scale(1.1);transform:rotate(10deg) scale(1.1)}50%{-webkit-transform:rotate(0deg) scale(1);transform:rotate(0deg) scale(1)}70%{-webkit-transform:rotate(-10deg) scale(1.1);transform:rotate(-10deg) scale(1.1)}100%{-webkit-transform:rotate(0deg) scale(1);transform:rotate(0deg) scale(1)}}

    .geoline_logo img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
        margin-left: 8px;
        position: relative;
        top: -3px;
    }