    #header {
        background-color: #ffffff;
        padding: 20px 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        color: #000000;
        box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);

        a {
            color: #000000;
        }
    }
    #header.first_screen_active {
        background: rgba(0, 0, 0, 0.3);
        color: #ffffff;

        a {
            color: #ffffff;
        }
    }
        .header_container{
            font-size: 16px;
            line-height: 1.55;
        }   
            .logo_resp {
                display: none !important;
            }
            .logo{
                display: inline-block;
                width: 100px;
              
                > a{
                    display:block;
                    text-decoration:none;
                    font-size: 0;
                    
                    > img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }

            .logo ~  li {
                padding: 0 5px;
            }
        
        .header_container_wr {
            width: 100%;
        }
            .navigation_menu {
                width: 100%;
            }

            #primary_nav{
                
            }
                #menu{
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    -webkit-justify-content: space-between;
                    -moz-justify-content: space-between;
                    -ms-justify-content: space-between;
                    -o-justify-content: space-between;
                    justify-content: space-between;
                    -webkit-align-items: center;
                    -moz-align-items: center;
                    -ms-align-items: center;
                    -o-align-items: center;
                    align-items: center;

                }
                    .menu_item{
                        float: left;
                        
                    }
                    .menu_item.current{
                        
                        .menu_link span:after {
                            right: 0;
                        }
                    }
                        .menu_link{
                            
                            font-weight: 600;
                            position: relative;
                            display: block;

                            span {
                                padding: 10px 0;
                                display: inline-block;
                                position: relative;

                                    &:after {
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    right: 100%;
                                    height: 6px;
                                    background:  url(../images/menu_line.png) 0 0 repeat-x;
                                    background-size: auto 100%;
                                    -webkit-transition: all 0.5s;
                                    -o-transition: all 0.5s;
                                    transition: all 0.5s;
                                }

                                &:hover {
                                    color: #69a6b1;
                                    &:after {
                                        right: 0;
                                    }
                                }
                            }

                            

                        }

        .social_list {
            margin-left: -5px;
            margin-right: -5px;
            
            li {
                padding: 0 5px;
                display: inline-block;
            }
            a {
                display: block;
                width: 30px;
                height: 30px;
                background-color: #000000;
                border-radius: 100%;
                font-size: 20px;
                color: #ffffff;
                text-align: center;

                .fa {
                    line-height: 30px;
                }
                &:hover {
                    background-color: #69a6b1;
                }
            }

        }

        .phone_box {
            font-weight: 400;

            a {
                text-decoration: none;
            }
            .phone {
                font-weight: 400;
            }
                            
            .call_back {
                text-decoration: underline !important;

                &:hover {
                    text-decoration: none !important;
                    
                }
            }
        }
        
        .icon_mass {
            display: inline-block;
            height: 19px;

            img {
                height: 100%;
                width: auto;
            }
        }

        .language_box {
            padding-left: 30px;
            position: relative;
        }
        .language_list {

            li:not(:last-child) {
                margin-bottom: 10px;
            }

            a {
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                position: relative;
                overflow: hidden;

                &:before {
                    content: '';
                    border: 2px solid transparent; 
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    bottom: 0;
                    top: 0;
                    -webkit-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s;
                }
                

                &:hover:before ,
                &.active:before  {
                    border: 2px solid #69a6b1;
                    z-index: 2;
                }
            }
            img {
                position: absolute;
                right: 0;
                bottom: 0;
                top: 0;
                left: 0;
            }
        }
        .language_btn {
            display: none;
            padding-bottom: 10px;

            span {
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                position: relative;
                overflow: hidden;

                &:before {
                    content: '';
                    border: 2px solid transparent; 
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    bottom: 0;
                    top: 0;
                    -webkit-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s;
                }
                

                &:hover:before  {
                    border: 2px solid #69a6b1;
                    z-index: 2;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    
    .header_top {
        height: 48px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    #header.sticky {
        padding: 10px 0;
        height: 78px;


        .logo {
            width: 70px;
        }

        .header_top {
            height: 0;
            overflow: hidden;
        }

        .language_box {
            margin-top: 12px;
        }
        .language_btn {
            display: block;
        }
        .language_btn + .language_list {
            position: absolute;
            top: 40px;
            opacity: 0;
            visibility: hidden;
            -webkit-transform: translate(0, 10px);
            -ms-transform: translate(0, 10px);
            -o-transform: translate(0, 10px);
            transform: translate(0, 10px);
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }
        .language_btn:hover + .language_list,
        .language_list:hover {
            opacity: 1;
            visibility: visible;
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }

    .button_nav {
      display: block;
      border: none;
      outline: none;
      width: 45px;
      height: 45px;
      border: 3px solid #000000;
      border-radius: 100%;
      cursor: pointer;
      background-color: transparent;
      position: relative;
      display: none;
      z-index: 15;
      margin-top: 7px;
    }
    .button_nav:before, .button_nav:after, .button_nav span {
      content: '';
      display: block;
      width: 25px;
      height: 3px;
      background-color: #000000;
      position: absolute;
      top: 10px;
      left: 7px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
    .button_nav span {
      top: 18px;
    }
    .button_nav:after {
      top: auto;
      bottom: 10px;
    }
    .button_nav.active span {
      display: none;
    }
    .button_nav.active:before {
      top: 19px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg); 
    }
    .button_nav.active:after {
      bottom: 17px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg); 
    }

    .first_screen_active {
        .button_nav:before, .button_nav:after, .button_nav span {
            background-color: #ffffff;
        }
        .button_nav {
          border: 3px solid #ffffff;
        }
    }
