//- block vars
footer(id="footer" class=footerClasses)

	// - - - - - - - - - - - - - footer_container - - - - - - - - - - - - - - - - 
	section(class="footer_container")
		div.container
			div.row
				div.col-lg-8.col-sm-6
					div.footer_logo(href="#section_main") 
						img(src="images/logo_footer.png", alt="")
					p.footer_txt Сайт разработан 
						a(href="https://geoln.com/" target="_blank") 
							i.geoline_logo
								img(src="images/geoline_logo.png", alt="") 
							| Geoline

				div.col-lg-2.col-sm-3
					h6.footer_title МЕНЮ

					ul.footer_list.navigation
						li
							a(href="#section1") Описание
						li
							a(href="#section2") Расположение
						li
							a(href="#section3") Инфраструктура
						li
							a(href="#section4") Квартиры
						li
							a(href="#section8") О компании
						li
							a(href="#section11") Полезная информация
						li
							a(href="#section10") Контакты

				div.col-lg-2.col-sm-3
					h6.footer_title СОЦ. СЕТИ

					ul.footer_list
						li
							a(href="https://www.facebook.com/hgroupgeorgia/" target="_blank") Facebook
						li
							a(href="https://www.instagram.com/hgroupbatumi/" target="_blank") Instagram
						li
							a(href="https://www.youtube.com/channel/UCX9ZFM6RQC9AmGBfBF5K8JQ" target="_blank") Youtube

		a.call_back_btn.modal_btn(href="javascript:;" data-modal="call_back")
			img(src="images/icons/call_back_icon.svg", alt="")

						
	// - - - - - - - - - - - - - End of footer_container - - - - - - - - - - - - - - - -
