//- block vars
header#header(class="header first_screen_active")



	section(class="header_container")
		div(class="container")
			
			div.d_f.jc-between
				div.header_container_wr
					div.header_top.d_f.jc-between
						ul.social_list
							li
								a(href="https://www.facebook.com/hgroupgeorgia/" target="_blank")
									i(class="fa fa-facebook" aria-hidden="true")
							li
								a(href="https://www.instagram.com/hgroupbatumi/" target="_blank")
									i(class="fa fa-instagram" aria-hidden="true")
							li
								a(href="https://www.youtube.com/channel/UCX9ZFM6RQC9AmGBfBF5K8JQ" target="_blank")
									i(class="fa fa-youtube-play" aria-hidden="true")

						div.phone_box
							a.phone.d_f.jc-between(href="tel:+995596444411") +995 (596) 444-411 
								span.icon_mass
									img(src="images/icons/mess.png", alt="")
							a.call_back.modal_btn(href="javascript:;" data-modal="call_back") Заказать обратный звонок

					div.d_f

						//  - - - - - - - - - - - - - Page Navigation - - - - - - - - - - - - - - - - 

						nav(id="primary_nav" class="navigation_menu")
							div(class="logo logo_resp navigation")
									a( href="#section_main") Sitename hereimg
										img(src="images/logo.png", alt="")
							div(class="button_nav")
								span
							menu(id="menu" class="menu navigation header_resp_nav")
								li(class="menu_item")
									a(class="menu_link" href="#section1") 
										span Описание
								li(class="menu_item")
									a(class="menu_link" href="#section2")  
										span Расположение
								li(class="menu_item")
									a(class="menu_link" href="#section3")  
										span Инфраструктура
								li(class="menu_item")
									a(class="menu_link" href="#section4")  
										span Квартиры
								// - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - -
								li(class="menu_item logo")
									a( href="#section_main") Sitename hereimg
										img(src="images/logo.png", alt="")
								// - - - - - - - - - - - - - End of Logo - - - - - - - - - - - - - - - - 
								li(class="menu_item")
									a(class="menu_link" href="#section8")  
										span О компании
								li(class="menu_item")
									a(class="menu_link" href="#section11")  
										span Полезная информация
								li(class="menu_item")
									a(class="menu_link" href="#section10")  
										span Контакты

						//  - - - - - - - - - - - - - End of Page Navigation - - - - - - - - - - - - - - - - 

				div.language_box
					a.language_btn 
						span
							img(src="images/icons/russia.png", alt="")
					ul.language_list
						li
							a.active(href="")
								img(src="images/icons/russia.png", alt="")
						li
							a(href="")
								img(src="images/icons/united-kingdom.png", alt="")
						li
							a(href="")
								img(src="images/icons/georgia.png", alt="")


				