
head

	// Basic page needs     ============================================ 
	//- title 
	//- 	block title
	block vars
	title= title
	meta(charset="utf-8")
	meta(name="author", content="")
	meta(name="keywords", content="")
	meta(name="description", content="")

	// Meta tags for social networks     ============================================
	meta(property="og:title" content="")
	meta(property="og:type" content="")
	meta(property="og:description" content="")
	meta(property="og:url" content="")
	meta(property="og:image" content="img/preview.jpg")

	// IE Support     "IE=edge","IE=11","IE=10","IE=9","IE=8"     ============================================ 
	meta(http-equiv="X-UA-Compatible", content="IE=edge")

	// Mobile specific metas     ============================================ 
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	// Disable conversion of telephone numbers     ============================================ 
	meta(name="format-detection", content="telephone=no")

	// Favicon     ============================================
	link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
	link(rel="icon", href="images/favicon.ico", type="image/x-icon")

	// Include Fonts (Icons)     ============================================ 
	link(rel="stylesheet", media="screen", href="fonts/icons/font-awesome-4.7.0/css/font-awesome.css")
	link(rel="stylesheet", media="screen", href="fonts/circe/stylesheet.css")

	// Include Libs CSS     ============================================ 
	link(rel="stylesheet", media="screen", href="css/reset.css")
	link(rel="stylesheet", media="screen", href="css/bootstrap.css")
	link(rel="stylesheet", media="screen", href="css/animate.css")

	// Plugins CSS     ============================================ 

	link(rel="stylesheet", media="screen", href="plugins/slider-pro-master/css/slider-pro.min.css")
	link(rel="stylesheet", media="screen", href="plugins/arcticmodal/jquery.arcticmodal-0.3.css")
	link(rel="stylesheet", media="screen", href="plugins/owl-carousel/owl.carousel.min.css")
	link(rel="stylesheet", media="screen", href="plugins/phonecode-master/phonecode.css")


	// Theme CSS     ============================================ 
	link(rel="stylesheet", media="screen", href="css/style.css")
	link(rel="stylesheet", media="screen", href="css/responsive.css")
	//[if IE]><link href="css/ie.css" rel="stylesheet" type="text/css" /><![endif]

