// Include Libs     ============================================ 

script(src="js/jquery-3.2.1.min.js")
script(src="js/jquery-migrate-3.0.1.min.js")

// Include Libs End       ============================================ 

// Plugins CSS     ============================================
script(src="plugins/video/jquery.video.js")
script(src="plugins/jquery.appear.js")
script(src="plugins/jquery.matchHeight-min.js")
script(src="plugins/slider-pro-master/js/jquery.sliderPro.min.js")
script(src="plugins/arcticmodal/jquery.arcticmodal-0.3.min.js")
script(src="plugins/owl-carousel/owl.carousel.min.js")
script(src="plugins/jquery.validate/jquery.validate.min.js")
script(src="plugins/jquery.maskedinput.js")
script(src="plugins/phonecode-master/jquery-ui-1.10.4.custom.min.js")
script(src="plugins/phonecode-master/counties.js")
script(src="plugins/phonecode-master/phonecode.js")
script(src="http://maps.google.com/maps/api/js?key=AIzaSyAzO7tz4DCEFuR7psMxgivAypx3LcLUFfo")
script(src="plugins/map/maplace-0.1.3.min.js")


// Scripts Init Plugins & Core START     ============================================ 

script(src="js/script.init.js")
script(src="js/script.core.js")

// Scripts Init Plugins & Core END       ============================================ 